```{=html}
<ul class="pub-list list">
<% for (const item of items) { %>
  <li <%= metadataAttrs(item) %>>
    <span class="listing-title lead"><%= item.title %></span><br />
    <span class="listing-author"><%= item.author %></span><br />
    <span class="listing-publication fst-italic "><%= item.publication %></span>
    <span class="listing-year">&nbsp;(<%= item.year %>)</span><br />
    <a href="<%- item.path %>" class="btn btn-primary">
      Details
    </a>
    <% if (item.project) { %>
    <a href="<%- item.project %>" class="btn btn-light" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-file-earmark-zip"></i> Project page
    </a>
    <% } %>
    <% if (item.pdf) { %>
      <a href="<%- item.pdf %>" class="btn btn-light" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-file-earmark-zip"></i> PDF
      </a>
      <% } %>
      <% if (item.code) { %>
        <a href="<%- item.code %>" class="btn btn-light" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-file-earmark-zip"></i> Code
        </a>
        <% } %>
  </li>
<% } %>
</ul>

```